<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <!--        <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">-->
        <!--            &lt;!&ndash;            <img [src]="contact.avatar" class="avatar contact-avatar huge m-0"&ndash;&gt;-->
        <!--            &lt;!&ndash;                 [alt]="contact.name"/>&ndash;&gt;-->
        <!--            <div class="user-name mt-8">{{user.username}} {{user.password}}</div>-->
        <!--        </mat-toolbar-row>-->
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" >
        <form fxLayout="column" fxLayoutAlign="start"
              fxFlex="1 0 auto" name="form" [formGroup]="passwordUserForm">

            <!--            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">-->

            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username"  required disabled readonly>
                <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="fill" >
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password">
                <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                <mat-error *ngIf="passwordUserForm.get('password').hasError('required')">
                    Password is required
                </mat-error>
                <mat-error *ngIf="passwordUserForm.get('password').hasError('minlength')">
                    Password must be at least 8 characters long
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" >
                <mat-label>Confirm Password</mat-label>
                <input matInput type="password" formControlName="confirmPassword">
                <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                <mat-error>
                    confirm Password is required
                </mat-error>
            </mat-form-field>


        </form>


    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button  mat-button class="save-button"
                (click)="this.matDialogRef.close(['save', this.passwordUserForm])"
                [disabled]="passwordUserForm.invalid"
                aria-label="SAVE">
            SAVE
        </button>

    </div>
</div>


