@import "../../../../../../node_modules/bootstrap/dist/css/bootstrap.css";


.my-drop-zone {
    border: dotted 3px lightgray;
}

.nv-file-over {
    border: dotted 3px red;
}

/* Default class applied to drop zones on over */
.another-file-over-class {
    border: dotted 3px green;
}
/////////
.content {

    padding: 10px;
}

.left-menu {
    background-color: gray;
    padding: 5px;
}


///////////
.drop-box {
    cursor: pointer;
    background: #F8F8F8;
    border: 5px dashed #DDD;
    text-align: center;
    padding: 40px;
    height: 100%;
}

.drag-over-title {
    display: none;
}

.drop-box.dragover {
    opacity: 0.6;
}

.drop-box.dragover .drag-over-title {
    display: block;
}

.drop-box.dragover .drag-in-title {
    display: none;
}

input[type='file'] {
    display: none;
}


