<div class="page-layout blank p-24" >
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
        <div fxFlex="100" class="mat-elevation-z8">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Patients</mat-card-title>
                </mat-card-header>
                <mat-card-actions *ngIf="authService.isNurse()">
                    <div class="example-button-container">
                        <button (click)="addPatient()" mat-mini-fab color="primary"
                                aria-label="Example icon button with a menu icon">
                            <mat-icon>person_add</mat-icon>
                        </button>
                    </div>
                </mat-card-actions>
                <mat-card-content>
                    <!-- <mat-form-field>
                        <mat-label>Filter</mat-label>
                        <label>
                            <input matInput (keyup)="applyFilter($event)" placeholder="filter">
                        </label>
                    </mat-form-field> -->

                    <div>
                        <input
                            placeholder="search by lastName" [(ngModel)]='keyword'>
                        <button (click)="search()" mat-raised-button color="primary">Search</button>
                    </div>

                    <ng-container [ngSwitch]="dataState">
                        <ng-container *ngSwitchCase="DataState.LOADED">
                            <table mat-table [dataSource]="dataSource">
                                <ng-template let-displayedColumns="displayedColumnsVariable"
                                             [ngTemplateOutletContext]="{ displayedColumnsVariable: getDisplayedColumns() }"
                                             [ngTemplateOutlet]="selfie" #selfie>

                                    <div *ngFor="let column of displayedColumns ; let i=index">
                                        <ng-container *ngIf="i!=displayedColumns.length-1" matColumnDef="{{column}}">
                                            <th mat-header-cell *matHeaderCellDef>{{column}}</th>
                                            <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
                                        </ng-container>
                                        <ng-container *ngIf="i==displayedColumns.length-1"
                                                      matColumnDef="{{displayedColumns[i]}}">


                                            <th mat-header-cell *matHeaderCellDef>{{displayedColumns[i]}}</th>
                                            <td mat-cell *matCellDef="let element">
                                                <div class="example-button-container">
                                                    <button *ngIf="authService.isNurse()"
                                                            (click)="deletePatient(element.id)"
                                                            mat-mini-fab color="primary"
                                                            aria-label="Example icon button with a home icon">
                                                        <mat-icon>delete</mat-icon>
                                                    </button>
                                                    <button *ngIf="authService.isNurse()" (click)="editPatient(element)"
                                                            mat-mini-fab color="primary"
                                                            aria-label="Example icon button with a home icon">
                                                        <mat-icon>edit</mat-icon>
                                                    </button>
                                                    <button (click)="openMedicalFile(element)" mat-mini-fab color="primary"
                                                            aria-label="Example icon button with a home icon">
                                                      <mat-icon>visibility</mat-icon>
                                                    </button>
                                                </div>
                                            </td>

                                        </ng-container>
                                        <!-- <ng-container matColumnDef="loading">
                                            <mat-footer-cell *matFooterCellDef colspan="6">
                                                Loading data...
                                            </mat-footer-cell>
                                        </ng-container>-->
                                    </div>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </ng-template>
                            </table>
                            <mat-paginator #paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize"
                                           [pageSizeOptions]="[5, 10, 15]" (page)="pageEvent = getServerData($event)"
                                           showFirstLastButtons>
                            </mat-paginator>
                        </ng-container>
                        <ng-container *ngSwitchCase="DataState.LOADING">
                            <mat-spinner diameter="50"></mat-spinner>
                        </ng-container>
                        <ng-container *ngSwitchCase="DataState.ERROR">
                            error
                        </ng-container>
                    </ng-container>


                </mat-card-content>

                <!-- <div>
                    <h5>Page Change Event Properties</h5>
                    <div>List length: {{pageEvent?.length}}</div>
                    <div>Page size: {{pageEvent?.pageSize}}</div>
                    <div>Page index: {{pageEvent?.pageIndex}}</div>
                </div>
                <div>
                    <h5>--------------</h5>
                    <div>List length: {{length}}</div>
                    <div>Page size: {{pageSize}}</div>
                    <div>Page index: {{pageIndex}}</div>
                    <div>_previousButtonsDisabled: {{paginator?._previousButtonsDisabled}}</div>
                    <div>_nextButtonsDisabled: {{paginator?._nextButtonsDisabled}}</div>
                </div> -->

            </mat-card>
        </div>
    </div>

</div>