<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <div fxFlex="100" class="mat-elevation-z8">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Visitors Appointments</mat-card-title>
            </mat-card-header>

            <mat-card-actions *ngIf="authService.isNurse()">

                <div class="example-button-container">
                    <!-- ADD CONTACT BUTTON -->
                    <button mat-mini-fab class="primary" id="add-appointment-button" (click)="addAppointment()"
                            aria-label="add appointment"
                            [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
                        <mat-icon>add</mat-icon>
                    </button>
                    <!-- / ADD CONTACT BUTTON

                    <button (click)="addAppointment()" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                        <mat-icon>add</mat-icon>
                    </button>
                    -->
                </div>
            </mat-card-actions>
            <mat-card-content>
                <div>
                    <input 
                     placeholder="search by lastName" [(ngModel)]='keyword'>
                    <button (click)="search()" mat-raised-button color="primary">Search</button>
                </div>

                <table mat-table [dataSource]="dataSource">

                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                          [checked]="selection.hasValue() && isAllSelected()"
                                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                                          [aria-label]="checkboxLabel()">
                            </mat-checkbox>
                            <button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu" yPosition="above">

                                <button mat-menu-item (click)="removeSelectedRows()">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </mat-menu>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                          (change)="$event ? selection.toggle(row) : null"
                                          [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <!-- id Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> id</th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>

                    <!-- firstName Column -->
                    <ng-container matColumnDef="firstName">
                        <th mat-header-cell *matHeaderCellDef> firstName</th>
                        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
                    </ng-container>

                    <!-- lastName Column -->
                    <ng-container matColumnDef="lastName">
                        <th mat-header-cell *matHeaderCellDef> lastName</th>
                        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                    </ng-container>
                    <!-- 'telephone' Column -->
                    <ng-container matColumnDef="phone">
                        <th mat-header-cell *matHeaderCellDef> phone</th>
                        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                    </ng-container>
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef> date</th>
                        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                    </ng-container>

                    <ng-container matColumnDef="time">
                        <th mat-header-cell *matHeaderCellDef> time</th>
                        <td mat-cell *matCellDef="let element"> {{element.time}} </td>
                    </ng-container>
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> status</th>
                        <td mat-cell *matCellDef="let element">
                            <span [ngStyle]="{'color': element.status=='Pending'? 'red':'green' }">
                                {{element.status}}
                            </span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Actions">
                        <!--                            <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>-->
                        <th mat-header-cell *matHeaderCellDef> Actions</th>
                        <td *matCellDef="let element">
                            <div class="example-button-container">
                                <button (click)="deleteAppointment(element.id)" mat-mini-fab color="primary"
                                        aria-label="Example icon button with a home icon">
                                    <mat-icon>delete</mat-icon>
                                </button>
                                <button (click)="editAppointment(element)" mat-mini-fab color="primary"
                                        aria-label="Example icon button with a home icon">
                                    <mat-icon>edit</mat-icon>
                                </button>

                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
                    <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();" (click)="selection.toggle(row)">
                    </tr>
                </table>

                <mat-paginator #paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize"
                [pageSizeOptions]="[5, 10, 15]" (page)="pageEvent = getServerData($event)"
                showFirstLastButtons>

            </mat-paginator>

            </mat-card-content>

        </mat-card>
    </div>
</div>




