<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <!--        <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">-->
        <!--            &lt;!&ndash;            <img [src]="contact.avatar" class="avatar contact-avatar huge m-0"&ndash;&gt;-->
        <!--            &lt;!&ndash;                 [alt]="contact.name"/>&ndash;&gt;-->
        <!--            <div class="patient-name mt-8">{{patient.firstName}} {{patient.lastName}}</div>-->
        <!--        </mat-toolbar-row>-->
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" >
        <form fxLayout="column" fxLayoutAlign="start"
              fxFlex="1 0 auto" name="form" [formGroup]="patientForm">

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                    <mat-label>First name</mat-label>
                    <input matInput formControlName="firstName" required>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <mat-error>First Name is required!</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                    <mat-label>Last name</mat-label>
                    <input matInput formControlName="lastName" required>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <mat-error>Last Name is required!</mat-error>
                </mat-form-field>

            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Phone number</mat-label>
                    <mat-icon matSuffix class="secondary-text">phone</mat-icon>
                    <input formControlName="phone" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" class="textarea-wrapper" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Gender</mat-label>
                    <mat-select name="gender" formControlName="gender">
                        <mat-option value="Male" selected="selected">Male</mat-option>
                        <mat-option value="Female">Female</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>date of birth</mat-label>
                    <mat-icon matSuffix class="secondary-text">calendar</mat-icon>

                    <input #i formControlName="dateOfBirth" matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>

            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                <mat-label>Profession</mat-label>
                <input matInput formControlName="profession">
                <mat-icon matSuffix class="secondary-text">work</mat-icon>

            </mat-form-field>

            <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Address</mat-label>
                    <textarea matInput formControlName="address">
                        </textarea>
                    <mat-error>Address is required!</mat-error>
                </mat-form-field>
            </div>


            <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Allergies</mat-label>
                    <textarea matInput formControlName="allergies">
                        </textarea>
                </mat-form-field>
            </div>

            <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Medications</mat-label>
                    <textarea matInput formControlName="medications">
                        </textarea>
                </mat-form-field>
            </div>

            <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>oldDiseases</mat-label>
                    <textarea matInput formControlName="oldDiseases">
                        </textarea>
                </mat-form-field>
            </div>

            <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>currentDiseases</mat-label>
                    <textarea matInput formControlName="currentDiseases">
                        </textarea>
                </mat-form-field>
            </div>

        </form>


    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button *ngIf="action === 'edit'" mat-button class="mr-8"
                (click)="matDialogRef.close(['delete',patientForm])" aria-label="Delete" matTooltip="Delete">
            DELETE
        </button>

        <button *ngIf="action !== 'edit'" mat-button class="save-button"
                (click)="matDialogRef.close(patientForm)"
                [disabled]="patientForm.invalid" aria-label="SAVE">
            ADD
        </button>

        <button *ngIf="action === 'edit'" mat-button class="save-button"
                (click)="this.matDialogRef.close(['save', this.patientForm])
   " [disabled]="patientForm.invalid"
                aria-label="SAVE">
            SAVE
        </button>

    </div>
</div>


<!--<form [formGroup]="patientForm">-->

<!--    <div fxLayout="row" fxLayoutAlign="start start">-->
<!--        <mat-form-field appearance="outline" fxFlex>-->
<!--            <mat-label>FirstName</mat-label>-->
<!--            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>-->
<!--            <input name="firstName" formControlName="firstName" matInput required>-->
<!--        </mat-form-field>-->
<!--    </div>-->

<!--    <div fxLayout="row" fxLayoutAlign="start start">-->
<!--        <mat-form-field appearance="outline" fxFlex>-->
<!--            <mat-label>Lastname</mat-label>-->
<!--            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>-->
<!--            <input name="lastName" formControlName="lastName" matInput>-->
<!--        </mat-form-field>-->
<!--    </div>-->

<!--    <div fxLayout="row" fxLayoutAlign="start start">-->
<!--        <mat-form-field appearance="outline" fxFlex>-->
<!--            <mat-label>Phone number</mat-label>-->
<!--            <mat-icon matSuffix class="secondary-text">phone</mat-icon>-->
<!--            <input formControlName="phone" matInput>-->
<!--        </mat-form-field>-->
<!--    </div>-->


<!--    <div fxLayout="row" class="textarea-wrapper" fxLayoutAlign="start start">-->
<!--        <mat-form-field appearance="outline" fxFlex>-->
<!--            <mat-label>Address</mat-label>-->
<!--            <textarea name="address" formControlName="address" matInput type="text" max-rows="4"></textarea>-->
<!--        </mat-form-field>-->
<!--    </div>-->


<!--    &lt;!&ndash;-->
<!--   <div fxLayout="row" fxLayoutAlign="start start">-->
<!--       <mat-form-field ppearance="outline" fxFlex>-->
<!--           <mat-label>Choose a date</mat-label>-->
<!--           <mat-icon matSuffix class="secondary-text">calendar</mat-icon>-->

<!--           <input #i formControlName="dateAppointment" matInput [matDatepicker]="picker">-->
<!--           <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--           <mat-datepicker #picker></mat-datepicker>-->
<!--       </mat-form-field>-->
<!--   </div>-->
<!--   value:{{i.value}}-->
<!--   <div fxLayout="row" fxLayoutAlign="start start">-->
<!--       <mat-form-field ppearance="outline" fxFlex>-->
<!--           <mat-label>Time</mat-label>-->
<!--           <mat-icon matSuffix class="secondary-text">time</mat-icon>-->
<!--           <input type="time" matInput formControlName="timeAppointment">-->
<!--       </mat-form-field>-->
<!--   </div>-->
<!--   &ndash;&gt;-->
<!--</form>-->