<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <!--        <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">-->
        <!--            &lt;!&ndash;            <img [src]="contact.avatar" class="avatar contact-avatar huge m-0"&ndash;&gt;-->
        <!--            &lt;!&ndash;                 [alt]="contact.name"/>&ndash;&gt;-->
        <!--            <div class="patient-name mt-8">{{patient.firstName}} {{patient.lastName}}</div>-->
        <!--        </mat-toolbar-row>-->
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0">
        <form fxLayout="column" fxLayoutAlign="start"
              fxFlex="1 0 auto" name="form" [formGroup]="form">
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>date</mat-label>
                    <mat-icon matSuffix class="secondary-text">calendar</mat-icon>
                    <input #i formControlName="date" matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Detail</mat-label>
                    <textarea matInput formControlName="detail" required>
                        </textarea>
                    <mat-error
                        *ngIf="!form.get('detail').hasError('required')"
                    >Detail is required!
                    </mat-error>
                </mat-form-field>
            </div>
        </form>


    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button mat-button class="mr-8"
                (click)="matDialogRef.close(['print',form])" aria-label="Print" matTooltip="Print">
            Print
        </button>

        <button mat-button class="save-button"
                (click)="matDialogRef.close(form)"
                [disabled]="form.invalid" aria-label="CANCEL">
            Cancel
        </button>

        <button mat-button class="save-button"
                (click)="this.matDialogRef.close(['save', this.form])
   " [disabled]="form.invalid"
                aria-label="SAVE">
            SAVE
        </button>

    </div>
</div>

