<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <!--        <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">-->
        <!--            &lt;!&ndash;            <img [src]="contact.avatar" class="avatar contact-avatar huge m-0"&ndash;&gt;-->
        <!--            &lt;!&ndash;                 [alt]="contact.name"/>&ndash;&gt;-->
        <!--            <div class="user-name mt-8">{{user.username}} {{user.password}}</div>-->
        <!--        </mat-toolbar-row>-->
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0">
        <form fxLayout="column" fxLayoutAlign="start"
              fxFlex="1 0 auto" name="form" [formGroup]="infosForm">

            <!--            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">-->

            <mat-form-field appearance="fill">
                <mat-label>Clinic Name</mat-label>
                <input matInput formControlName="medicalOfficeName">
                <mat-icon matSuffix class="secondary-text">title</mat-icon>
            </mat-form-field>

            <ng-container formGroupName="doctorDto"> <!-- Mark the nested formgroup name -->
                    <mat-form-field appearance="fill">
                    <mat-label>Doctor FullName</mat-label>
                    <input matInput type="text" formControlName="name">
                    <mat-icon matSuffix class="secondary-text">perm_identity</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>specialty Doctor</mat-label>
                    <input matInput type="text" formControlName="specialty">
                    <mat-icon matSuffix class="secondary-text">info</mat-icon>
                </mat-form-field>
            </ng-container>
            <mat-form-field appearance="fill">
                <mat-label>address</mat-label>
                <input matInput type="text" formControlName="address">
                <mat-icon matSuffix class="secondary-text">location_on</mat-icon>
            </mat-form-field>


            <mat-form-field appearance="fill">
                <mat-label>Phone</mat-label>
                <input matInput type="text" formControlName="phone">
                <mat-icon matSuffix class="secondary-text">contact_phone</mat-icon>
            </mat-form-field>

            <div fxLayout="row" class="textarea-wrapper" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>TimeZone</mat-label>

                    <mat-select name="timeZone" formControlName="timeZone">
                        <mat-option *ngFor="let timeZone of listTimeZones" value="{{timeZone}}" >{{timeZone}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </form>


    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">


        <button *ngIf="action === 'edit'" mat-button class="save-button"
                (click)="this.matDialogRef.close(['save', this.infosForm])
   " [disabled]="infosForm.invalid"
                aria-label="SAVE">
            SAVE
        </button>

    </div>
</div>


