<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <!--        <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">-->
        <!--            &lt;!&ndash;            <img [src]="contact.avatar" class="avatar contact-avatar huge m-0"&ndash;&gt;-->
        <!--            &lt;!&ndash;                 [alt]="contact.name"/>&ndash;&gt;-->
        <!--            <div class="user-name mt-8">{{user.username}} {{user.password}}</div>-->
        <!--        </mat-toolbar-row>-->
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" >
        <form fxLayout="column" fxLayoutAlign="start"
              fxFlex="1 0 auto" name="form" [formGroup]="userForm">

            <!--            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">-->

            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username" [readonly]="this.action=='edit'" required>
                <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                <mat-error *ngIf="userForm.get('username').hasError('required')">
                    Username is required
                </mat-error>
                <mat-error *ngIf="userForm.get('username').hasError('minlength')">
                    Username must be at least 4 characters long
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="action=='new'">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password">
                <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                <mat-error *ngIf="userForm.get('password').hasError('required')">
                    Password is required
                </mat-error>
                <mat-error *ngIf="userForm.get('password').hasError('minlength')">
                    Password must be at least 8 characters long
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" *ngIf="action=='new'">
                <mat-label>Confirm Password</mat-label>
                <input matInput type="password" formControlName="confirmPassword">
                <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                <mat-error>
                    confirm Password is required
                </mat-error>
            </mat-form-field>
            <mat-slide-toggle formControlName="active">active</mat-slide-toggle>
            <!--
                        <label for="nameRole">Order</label>
                        <select formControlName="nameRole" id="nameRole">
                            <option *ngFor="let role of roles; let i = index" [value]="roles[i].nameRole">
                                {{roles[i].nameRole}}
                            </option>
                        </select>

            -->
            <mat-form-field appearance="fill" >
                <mat-label>role</mat-label>
                <mat-select formControlName="roleName" >

                    <mat-option *ngFor="let role of roles; let i = index" [value]="roles[i].roleName">
                        {{roles[i].roleName}}
                    </mat-option>

                </mat-select>
            </mat-form-field>




            <!--                <mat-form-field appearance="outline">-->
            <!--                    <mat-label>Password (Confirm)</mat-label>-->
            <!--                    <input matInput type="password" formControlName="passwordConfirm">-->
            <!--                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>-->
            <!--                    <mat-error *ngIf="userForm.get('passwordConfirm').hasError('required')">-->
            <!--                        Password confirmation is required-->
            <!--                    </mat-error>-->
            <!--                    <mat-error *ngIf="!userForm.get('passwordConfirm').hasError('required') &&-->
            <!--                                       userForm.get('passwordConfirm').hasError('passwordsNotMatching')">-->
            <!--                        Passwords must match-->
            <!--                    </mat-error>-->
            <!--                </mat-form-field>-->

            <!--            </div>-->


        </form>


    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button *ngIf="action === 'edit'" mat-button class="mr-8"
                (click)="matDialogRef.close(['delete',userForm])" aria-label="Delete" matTooltip="Delete">
            DELETE
        </button>

        <button *ngIf="action !== 'edit'" mat-button class="save-button"
                (click)="matDialogRef.close(userForm)"
                [disabled]="userForm.invalid" aria-label="SAVE">
            ADD
        </button>

        <button *ngIf="action === 'edit'" mat-button class="save-button"
                (click)="this.matDialogRef.close(['save', this.userForm])
   " [disabled]="userForm.invalid"
                aria-label="SAVE">
            SAVE
        </button>

    </div>
</div>


<!--<form [formGroup]="userForm">-->

<!--    <div fxLayout="row" fxLayoutAlign="start start">-->
<!--        <mat-form-field appearance="outline" fxFlex>-->
<!--            <mat-label>FirstName</mat-label>-->
<!--            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>-->
<!--            <input name="username" formControlName="username" matInput required>-->
<!--        </mat-form-field>-->
<!--    </div>-->

<!--    <div fxLayout="row" fxLayoutAlign="start start">-->
<!--        <mat-form-field appearance="outline" fxFlex>-->
<!--            <mat-label>Lastname</mat-label>-->
<!--            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>-->
<!--            <input name="password" formControlName="password" matInput>-->
<!--        </mat-form-field>-->
<!--    </div>-->

<!--    <div fxLayout="row" fxLayoutAlign="start start">-->
<!--        <mat-form-field appearance="outline" fxFlex>-->
<!--            <mat-label>Phone number</mat-label>-->
<!--            <mat-icon matSuffix class="secondary-text">phone</mat-icon>-->
<!--            <input formControlName="phone" matInput>-->
<!--        </mat-form-field>-->
<!--    </div>-->


<!--    <div fxLayout="row" class="textarea-wrapper" fxLayoutAlign="start start">-->
<!--        <mat-form-field appearance="outline" fxFlex>-->
<!--            <mat-label>Address</mat-label>-->
<!--            <textarea name="address" formControlName="address" matInput type="text" max-rows="4"></textarea>-->
<!--        </mat-form-field>-->
<!--    </div>-->


<!--    &lt;!&ndash;-->
<!--   <div fxLayout="row" fxLayoutAlign="start start">-->
<!--       <mat-form-field ppearance="outline" fxFlex>-->
<!--           <mat-label>Choose a date</mat-label>-->
<!--           <mat-icon matSuffix class="secondary-text">calendar</mat-icon>-->

<!--           <input #i formControlName="dateAppointment" matInput [matDatepicker]="picker">-->
<!--           <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--           <mat-datepicker #picker></mat-datepicker>-->
<!--       </mat-form-field>-->
<!--   </div>-->
<!--   value:{{i.value}}-->
<!--   <div fxLayout="row" fxLayoutAlign="start start">-->
<!--       <mat-form-field ppearance="outline" fxFlex>-->
<!--           <mat-label>Time</mat-label>-->
<!--           <mat-icon matSuffix class="secondary-text">time</mat-icon>-->
<!--           <input type="time" matInput formControlName="timeAppointment">-->
<!--       </mat-form-field>-->
<!--   </div>-->
<!--   &ndash;&gt;-->
<!--</form>-->