textarea {
    width: 100% !important;
    min-height: 320px;
    padding: 8px;
    margin-bottom: 8px;
    font-size: 20px;
    border: 1px solid;
    border-radius: 4px;
}
button{
    margin-right: 10px;
}