<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <div fxFlex="100" class="mat-elevation-z8">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Patients Appointments (Pending)</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <div >

                        <mat-label>Choose a date</mat-label>
                        <!-- <mat-icon matSuffix class="secondary-text">calendar</mat-icon> -->
    
                        <input #i  matInput [matDatepicker]="picker" required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                   
                    <button (click)="search(i.value)" mat-raised-button color="primary">Search</button>

                </div>
                <!-- <mat-form-field>
                    <mat-label>Filter</mat-label>
                    <label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="filter">
                    </label>
                </mat-form-field> -->

                <table mat-table [dataSource]="dataSource">



<!--                    &lt;!&ndash; id Column &ndash;&gt;-->
<!--                    <ng-container matColumnDef="id">-->
<!--                        <th mat-header-cell *matHeaderCellDef> id</th>-->
<!--                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>-->
<!--                    </ng-container>-->



                    <!-- firstName Column -->
                    <ng-container matColumnDef="firstName">
                        <th mat-header-cell *matHeaderCellDef> firstName</th>
                        <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
                    </ng-container>

<!--                   lastName Column-->
                    <ng-container matColumnDef="lastName">
                        <th mat-header-cell *matHeaderCellDef> lastName</th>
                        <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef> date</th>
                        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                    </ng-container>

                    <ng-container matColumnDef="time">
                        <th mat-header-cell *matHeaderCellDef> time</th>
                        <td mat-cell *matCellDef="let element"> {{element.time}} </td>
                    </ng-container>

                   <!-- <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> status</th>
                        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                    </ng-container>-->

                    <ng-container  matColumnDef="Actions">
                        <!--                            <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>-->
                        <th mat-header-cell *matHeaderCellDef> Actions</th>
                        <td *matCellDef="let element">
                            <div class="example-button-container">
                                <button (click)="openMedicalFile(element)" mat-mini-fab color="primary" aria-label="Example icon button with a home icon">
                                    <mat-icon>visibility</mat-icon>
                                </button>

                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
                    <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();" >
                    </tr>
                </table>

                <mat-paginator #paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize"
                        [pageSizeOptions]="[5, 10, 15]" (page)="pageEvent = getServerData($event)"
                        showFirstLastButtons>
                    </mat-paginator>

            </mat-card-content>

        </mat-card>
    </div>
</div>