<div id="dashboard-analytics" class="page-layout blank" *ngIf="statistics">

    <div class="main-widget" *ngIf="widgets.widgetChartCons ">

        <div class="position-relative p-24 blue-600"
             fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="column" fxLayoutAlign="start start">
                <span class="h2">Consultations</span>
                <span class="h5 secondary-text">Consultations by month</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
                <div class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer"
                     (click)="onChangeYear(previousYear)"
                     [ngClass]="{'blue-700': widgetChartConsSelectedYear == previousYear}">
                    {{previousYear}}
                </div>
                <div class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer"
                     (click)="onChangeYear(currentYear)"
                     [ngClass]="{'blue-700': widgetChartConsSelectedYear == currentYear}">
                    {{currentYear}}
                </div>
                
            </div>
        </div>

        <div class="position-relative h-256 pb-16 blue-600">
<!--            [datasets]="widgets.widgetChartCons.datasets[2020]"-->
            <canvas baseChart
                    [datasets]="dataCons"
                    [labels]="widgets.widgetChartCons.labels"
                    [colors]="widgets.widgetChartCons.colors"
                    [options]="widgets.widgetChartCons.options"
                    [chartType]="widgets.widgetChartCons.chartType">
            </canvas>
        </div>

    </div>

    <div class="content">

        <div class="left mr-lg-32">

            <div class="pb-24 font-size-18 font-weight-300">
                Statistics Today
            </div>

            <div fxLayout="column" fxLayoutAlign="start"
                 fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">

                <!-- Widget Appointments -->
                <div class="widget" fxFlex="100" fxFlex.gt-sm="34" *ngIf="statistics">

                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">

                        <div class="p-16 pb-0" fxLayout="row wrap" fxLayoutAlign="start end">

                            <div class="pr-16">
                                <div class="h2 secondary-text">
                                    Appointments
                                    <mat-icon>calendar_today</mat-icon>
                                </div>
                                <div class="font-size-54 font-weight-300 line-height-1 mt-8">
                                   {{statistics.appointmentsToday}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Widget Appointments -->

                <!-- Widget Patients -->
                <div class="widget" fxFlex="100" fxFlex.gt-sm="34" *ngIf="statistics">

                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">

                        <div class="p-16 pb-0" fxLayout="row wrap" fxLayoutAlign="start end">

                            <div class="pr-16">
                                <div class="h2 secondary-text">
                                    New patients <mat-icon>accessible</mat-icon>
                                </div>
                                <div class="font-size-54 font-weight-300 line-height-1 mt-8">
                                    {{statistics.newPatients}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Widget Patients -->



            </div>

        </div>

        <div class="right" *ngIf="statistics">

            <div fxLayout="row wrap" fxLayout.gt-md="column">

                <!-- Widget Gender -->
                <div class="mb-48" [ngClass.lt-lg]="'mr-32'" [ngClass.xs]="'mr-0'">

                    <div class="pb-24 font-size-18 font-weight-300">
                        Statistics annual
                    </div>

                    <div class="fuse-card">

                        <div class="p-16">
                            <div class="h2 font-weight-300">Patients gender</div>
                        </div>

                        <div class="h-200">

                            <ngx-charts-pie-chart
                                *fuseIfOnDom
                                [scheme]="widgets.widgetChartGender.scheme"
                                [results]="widgets.widgetChartGender.results"
                                [doughnut]="false">
                            </ngx-charts-pie-chart>
                        </div>

                        <div class="p-16" fxLayout="row" fxLayoutAlign="center center">

                            <div class="px-16" fxLayout="column" fxLayoutAlign="start center"
                                 *ngFor="let item of widgets.widgetChartGender.results">

                                <div class="h4 secondary-text"
                                     [ngStyle]="{'color': (item.name=='Males') ? '#5AA454' : '#A10A28'}">
                                    {{item.name}}</div>
                                <div class="h2 font-weight-300 py-8">{{item.value}}%</div>



                            </div>

                        </div>

                    </div>

                </div>
                <!-- / Widget Gender -->


            </div>

        </div>

    </div>

</div>
