<div class="page-layout blank p-24" >

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <div fxFlex="100" class="mat-elevation-z8">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Users</mat-card-title>
            </mat-card-header>
            <mat-card-actions>
                <div class="example-button-container">
                    <button (click)="addUser()" mat-mini-fab color="primary"
                        aria-label="Example icon button with a menu icon">
                        <mat-icon>person_add</mat-icon>
                    </button>
                </div>
            </mat-card-actions>
            <mat-card-content>
                <div>
                    <input placeholder="search by username" [(ngModel)]='keyword'>
                    <button (click)="search()" mat-raised-button color="primary">Search</button>
                </div>
                <table mat-table [dataSource]="dataSource">

                    <!-- id Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> id</th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>

                    <!-- username Column -->
                    <ng-container matColumnDef="username">
                        <th mat-header-cell *matHeaderCellDef> username</th>
                        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                    </ng-container>

                    <ng-container matColumnDef="roles">
                        <th mat-header-cell *matHeaderCellDef> Role</th>
                        <td mat-cell *matCellDef="let element"> {{element.roleName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="active">
                        <th mat-header-cell *matHeaderCellDef>Active</th>
                        <td mat-cell *matCellDef="let element"> {{element.active}} </td>
                    </ng-container>


                    <ng-container matColumnDef="Actions">
                        <th mat-header-cell *matHeaderCellDef>Actions</th>
                        <td *matCellDef="let element">
                            <div class="example-button-container">
                                <button (click)="deleteUser(element.id)" mat-mini-fab color="primary"
                                    aria-label="Example icon button with a home icon">
                                    <mat-icon>delete</mat-icon>
                                </button>
                                <button (click)="editUser(element)" mat-mini-fab color="primary"
                                    aria-label="Example icon button with a home icon">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button (click)="changePasswordUser(element)" mat-mini-fab color="primary"
                                        aria-label="Example icon button with a home icon">
                                    <mat-icon>vpn_key</mat-icon>
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator #paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize"
                    [pageSizeOptions]="[5, 10, 15]" (page)="pageEvent = getServerData($event)" showFirstLastButtons>
                </mat-paginator>

            </mat-card-content>

        </mat-card>
    </div>
</div>
</div>