<!--<h2 >-->
<!--    {{fullName | titlecase}}-->
<!--</h2>-->
<div class="page-layout blank" >

    <!-- HEADER -->
    <div class="header p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
         fxLayoutAlign.gt-sm="space-between end">

        <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
             fxLayoutAlign.gt-sm="start center">

            <div class="name" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                {{ fullName | titlecase}}
            </div>
        </div>


    </div>
    <!-- / HEADER -->
<!--    <div class="content">-->
    <div class="row">
    <app-consultations [patientId]="patientId"
                       [fullName]="fullName"
    ></app-consultations>
    </div>
    <div class="row">
    <patient-appointment [patientId]="patientId"></patient-appointment>
    </div>
<!--    </div>-->
</div>