@import "src/@fuse/scss/fuse";

.page-layout {

    .header {
        height: 80px;
        min-height: 80px;
        max-height: 80px;
        //background: url('/assets/images/backgrounds/dark-material-bg.jpg') no-repeat 0 45%;
        background-color: #039be5!important;
        background-size: cover;



        .name {
            font-size: 20px;
            color: #FFFFFF;

            @include media-breakpoint('sm') {
                margin-bottom: 32px;
            }
        }


    }
}
.row{
    margin-bottom: 10px;
}