<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <div fxFlex="100" class="mat-elevation-z8">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Appointments:</mat-card-title>
            </mat-card-header>
            <mat-card-actions *ngIf="authService.isNurse()">
                <div class="example-button-container">
                    <button (click)="addAppointmentPatient()" mat-mini-fab color="primary"
                            aria-label="Example icon button with a menu icon">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </mat-card-actions>
            <mat-card-content>
                <!--<mat-form-field>
                    <mat-label>Filter</mat-label>
                    <label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="filter">
                    </label>
                </mat-form-field>-->
                <table mat-table [dataSource]="dataSource">
                    <!-- firstName Column
                    'date', 'time','status','Actions'
                    -->
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef> date</th>
                        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                    </ng-container>
                    <ng-container matColumnDef="time">
                        <th mat-header-cell *matHeaderCellDef> time</th>
                        <td mat-cell *matCellDef="let element"> {{element.time}} </td>
                    </ng-container>
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> status</th>
                        <td mat-cell *matCellDef="let element">

                             <span [ngStyle]="{'color': element.status=='Pending'? 'red':'green' }">
                                {{element.status}}
                            </span>
                            </td>
                    </ng-container>
                             <!-- last column : actions            -->
                    <ng-container *ngIf="this.authService.isNurse()"
                                  matColumnDef="Actions">
                                <th mat-header-cell
                                    *matHeaderCellDef> Actions</th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="example-button-container">
                                        <button
                                            (click)="deleteAppointment(element.id)" mat-icon-button color="primary"
                                            aria-label="Example icon button with a home icon">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                        <button
                                            (click)="editAppointment(element)" mat-icon-button color="primary"
                                            aria-label="Example icon button with a home icon">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                    </div>
                                </td>

                            </ng-container>


                        <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
                        <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"></tr>

                </table>

                <mat-paginator #paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize"
                               [pageSizeOptions]="[5, 10, 15]" (page)="pageEvent = getServerData($event)"
                               showFirstLastButtons>
                </mat-paginator>

            </mat-card-content>

        </mat-card>
    </div>
</div>
<!--</fuse-widget>-->