
<div class="page-layout blank p-24" >
    <!-- CONTENT -->
    <div class="widget-group" fxLayout="row wrap" fxFlex="100" *fuseIfOnDom
         [@animateStagger]="{value:'50'}">
        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                     fxFlex="100" fxFlex.gt-sm="50">
            <div class="fuse-widget-front">
                <div class="h3 px-16 py-24">
                   Patient
                </div>
                <mat-divider></mat-divider>
                <app-infos-patient
                    [patientId]='this.patientId'
                ></app-infos-patient>
            </div>
        </fuse-widget>
        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                     fxFlex="100" fxFlex.gt-sm="50">
            <div class="fuse-widget-front">
                <div class="h3 px-16 py-24">
                    Pieces joints
                </div>
                <mat-divider></mat-divider>
                <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN"
                        (click)="initPrescription()"
                >
                    {{label_btn_prescription}}
                </button>
                <br>
                <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN"
                        (click)="openCertificate()"
                >
                    certificate
                </button>

                <textarea>
                    consultation notes path verbe
                </textarea>
            </div>
        </fuse-widget>
    </div>


<!--    --------------->
    <div class="content">
        <mat-grid-list cols="4" rowHeight="300px">
            <mat-grid-tile
                [colspan]="1"
                [rowspan]="1">



            </mat-grid-tile>
            <mat-grid-tile
                [colspan]="3"
                [rowspan]="2">
                <mat-card>

                </mat-card>
                <!--<app-prescriptions></app-prescriptions>-->
            </mat-grid-tile>

        </mat-grid-list>

    </div>
    <!-- / CONTENT -->

</div>



